* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "electratextpro";
  src: url("../fonts/elektratextpro.otf");
  font-weight: normal;
}

body {
  font-family: "electratextpro";
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  box-shadow: #000 2px 2px 30px;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  height: 100%;
  background: url("../img/Приветствие.png") no-repeat center/cover;
}
.logo {
  max-width: 170px;
  max-height: 65px;
  display: block;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  margin-right: 22px;
  font-size: 18px;
  color: #000;
  position: relative;
  transition: 300ms linear;
}
.nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: rgb(0, 182, 108);
  position: absolute;
  opacity: 0;
  transition: 300ms linear;
}

.nav-link:hover::after {
  opacity: 1;
  width: 100%;
}

.lan {
  margin-right: 2%;
  color: #000;
  font-weight: bold;
  border: 3.5px solid rgb(0, 204, 102);
  padding: 2px 5px;
  border-radius: 5px;
  transition: 300ms linear;
  font-size: 20px;
  display: block;
}
.lan:hover {
  background-color: #00b66c;
  transform: scale(1.1);
}

.nav-number {
  color: #fff;
  font-weight: bold;
  border: 3.5px solid rgb(0, 204, 102);
  padding: 5px 10px;
  border-radius: 5px;
  transition: 300ms linear;
}

.nav-number:hover {
  background-color: #00b66c;
  transform: scale(1.1);
}

.header-title {
  margin-top: 70px;
  margin-left: 110px;
  font-size: 37px;
  text-transform: uppercase;
  font-weight: bold;
}
.header-title-2 {
  font-size: 34px;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.header-text {
  margin-top: 150px;
}
.text-title {
  color: rgb(0, 182, 108);
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
}
.text-descr {
  font-size: 50px;
  max-width: 700px;
  font-weight: 600;
  line-height: 51px;
  margin-top: 5px;
}
.text-word {
  margin-top: 10px !important;
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 15px;
  background-color: rgb(0, 182, 108);
  border-radius: 15px;
  max-width: max-content;
  word-spacing: 0.6px !important;
}

.header-bar {
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: -50px;
  box-shadow: 2px 2px 10px gray;
}

.v-line {
  width: 2.5px;
  height: 70px;
  background-color: #000;
  margin: 0 60px;
}

.bar-first {
  font-size: 40px;
  line-height: 41px;
  max-width: 380px;
  text-align: right;
}
.bar-second {
  line-height: 41px;
  text-align: left;
  font-size: 40px;
  max-width: 390px;
  margin-right: 3%;
}
.service_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 100px;
}

.directions {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Две равные колонки */
  grid-gap: 10px;
  margin-left: 50px;
}
.dir_descr {
  font-size: 20px;
  color: #fff;
}
.direction {
  background: #00b66c;
  width: 260px;
  height: 75px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: 200ms linear;
  padding: 2% 4%;
  text-align: center;
}

.direction:hover {
  transform: translateY(-5px);
}

.dir_photo {
  z-index: 1;
  margin-left: -75px;
}
.dir_layer {
  width: 250px;
}
.dir_img {
  width: 435px;
  height: 600px;
}
.dir_title1 {
  font-size: 25px;
}
.dir_title2 {
  font-size: 55px;
  font-weight: 700;
  color: #00b66c;
}
.val_head {
  display: flex;
  margin-left: 50px;
}
.val_title1 {
  font-size: 60px;
  margin-right: 20px;
}
.superman {
  width: 800px;
  height: 700px;
}
.val_title2 {
  font-size: 60px;
  color: #00b66c;
  font-weight: 700;
}
.values_content {
  display: flex;
  flex-direction: column;
}
.val_points {
  display: flex;

  justify-content: center;
}
.val_point {
  display: flex;
  align-items: center !important;
  margin-top: 50px;
}
.val_descr {
  font-size: 36px;
  width: 350px;
}
.val_number {
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: #fff;
  background-color: #00b66c;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}
.val_num {
  color: #fff;
}
.legend_content {
  display: flex;
  z-index: 2;
  position: relative;
  width: 100%;
  justify-content: end;
}
.legend_descr {
  z-index: 2;
}
.legend_info {
  margin: 21px 21px;
  font-size: 16px;
  z-index: 2;
  width: 600px !important;
}
.legend_photo {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
}
.legend_story {
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.legend_title1 {
  z-index: 2;
  font-size: 50px;
  margin-left: 30px;
}
.legend_title2 {
  z-index: 2;
  font-size: 60px;
  color: #00b66c;
  margin-left: 20px;
}
.legend_line {
  z-index: 2;
  margin-left: 15px;
  width: 295px;
}

.doctors {
  margin-top: 120px;
  padding-bottom: 150px;
}
.doctors_content {
  position: relative !important;
}
.doctors_title {
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 110px;
}

.doctors_title span {
  color: #00b66c;
  font-weight: 800;
  font-size: 54px;
}
.doctors_text {
  margin-top: 280px;
  width: 100%;
  background-color: #00b66c;
  padding: 30px 40px 110px 40px;
  margin-bottom: 200px;
  border-radius: 30px;
  height: 190px;
  width: 100%;
}
.doctors_text h3 {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  max-width: 230px;
  text-align: center;
  text-transform: uppercase;
}

.doctors_cards {
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  justify-content: flex-end !important;
  position: absolute !important;
  left: 35px;
  top: -200px !important;
}

.doctor_card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  width: 252px;
  height: 315px;
  position: relative !important;
  text-align: right;
  box-shadow: 1px 1px 20px #000;
  border-radius: 30px;
  transition: 250ms linear;
}

.footer-map {
  width: 100%;
  height: 100%;
}

.doctor_card:hover {
  transform: scale(1.1);
}
.all_nations {
  display: none;
  color: #fff;
}

.doctor_card img {
  width: 252px;
  height: 315px;
  position: absolute !important;
  left: 0;
  right: 0;
  z-index: 1;
}

.doctor_title {
  z-index: 100;
}
.doctor_descr {
  z-index: 100;
}
.white-shadow {
  position: absolute;
  bottom: 1px;
  right: 1px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7,
.h8 {
  color: #32d95b;
  margin: 1px 1px;
  font-weight: bolder;
}
.img_right {
  width: 800px;
  height: 700px;
}
.h1 {
  font-size: 35px;
}
.h2 {
  font-size: 40px;
}
.h3 {
  font-size: 46px;
}
.h4 {
  font-size: 35px;
}
.h5 {
  font-size: 40px;
}
.h6 {
  font-size: 80px;
}
.h7 {
  font-size: 60px;
}
.h8 {
  font-size: 67px;
}
.imgs {
  width: 1230px;
}
.images_content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.footer_content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer_lefttop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: solid #000;
}
.h_nation {
  margin-left: 50px;
  font-weight: 100;
}
.contacts {
  display: flex;
  flex-direction: column;
}
.footer_number {
  display: flex;
  align-items: center;
}
.vib {
  width: 40px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
}
.foot_num {
  font-size: 30px;
}
.social {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #000;
  transition: 200ms linear;
  font-weight: 600;
  width: max-content;
}

.social:hover {
  color: #00b66c;
  font-weight: 600;
}
.inst,
.youtube,
.tg,
.fb {
  font-size: 25px;
  margin-left: 10px;
}
.foot_ad {
  font-weight: bolder;
  font-size: 35px;
}
.adress {
  font-size: 20px;
}
.footer {
  margin-top: 100px;
}
.final_line {
  background: rgb(0, 182, 108);
  height: 80px;
  margin-top: 50px;
}
.footer_leftbott {
  margin-top: 50px;
}
.sc1 {
  margin-top: 15px;
}
.vib {
  width: 40px;
  height: 40px;
}
.burger {
  background: #00b66c;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 1000;
  opacity: 0;
}
.line {
  height: 2px;
  width: 50%;
  background-color: #fff;
}

@media (max-width: 1250px) {
  .values {
    margin-top: 50px;
  }
  .legend_descr {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .legend_info {
    width: 450px !important;
  }
  .container {
    max-width: 1000px;
  }
  .nav-link {
    font-size: 15px;
    margin-right: 15px;
  }
  .nav-list {
    align-items: center;
  }
  .lan {
    font-size: 16px;
  }
  .logo {
    width: 160px;
    height: 60px;
  }
  .bar-first {
    font-size: 30px;
    margin-left: 3%;
  }
  .bar-second {
    font-size: 30px;
    margin-right: 0 !important;
  }
  .directions {
    margin-left: 30px !important;
  }
  .superman {
    width: 60%;
    height: 60%;
  }
  .doctors_cards {
    left: 1%;
    top: -2%;
  }
  .dir_img {
    width: 90%;
    height: 90%;
    margin-left: 0;
  }
  .dir_photo {
    margin-left: 0;
  }
  .direction {
    width: 200px;
    font-size: 15px;
    padding: 2% 4%;
    text-align: center;
  }
  .directions {
    margin-left: 8%;
  }

  .dir_descr {
    font-size: 15px;
    width: 120%;
    text-align: center;
  }
  .dir_title2 {
    font-size: 55px;
  }
  .dir_title1 {
    font-size: 28px;
  }
  .dir_layer {
    width: 50%;
  }
  .nav-number {
    font-size: 10px !important;
  }
  .header-nav img {
    width: 100%;
  }
  .service_content {
    display: flex;
    justify-content: space-between;
  }
  .imgs {
    width: 95%;
  }
  .val_descr {
    font-size: 30px;
  }
  .val_point {
    margin-top: 30px;
  }
  .doctor_card {
    padding: 13px;
    width: 210px;
    height: 255px;
  }
  .doctors_cards {
    gap: 30px;
    margin-left: 10px;
  }
  .doctor_card img {
    width: 210px;
    height: 255px;
  }
  .doctors_text h3 {
    font-size: 17px;
    max-width: 200px;
    width: 100%;
  }
  .img_right {
    width: 90%;
    height: 90%;
    margin-left: 10%;
  }
  .legend_story {
    width: 100%;
  }
  .legend_photo {
    top: 20%;
  }
}

@media (max-width: 1050px) {
  .container {
    max-width: 900px !important;
  }
  .header-nav {
    padding: 50px 80px;
    position: fixed;
    flex-direction: column;
    left: 0;
    top: 0;
    background-color: #fff;
    box-shadow: 1px 1px 20px gray;
    z-index: 1000;
    height: 100%;
    opacity: 0;
    display: none;
    transition: 400ms linear;
    width: 0;
  }
  .header-nav.enable {
    opacity: 1;
    width: 35%;
    display: flex;
  }
  .nav-list {
    flex-direction: column;
    justify-content: none;
    height: 530px;
  }
  .nav-link {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    font-size: 25px;
    padding-bottom: 35px;
    margin-right: 0;
  }
  .nav-link.last {
    color: #000;
  }
  .nav-number {
    margin-top: 30px;
    text-align: center !important;
    font-size: 15px !important;
    width: 100% !important;
    color: #000;
  }
  .bar-first {
    font-size: 22px !important;
  }
  .bar-second {
    font-size: 22px !important;
  }
  .header-nav a img {
    margin-bottom: 25px;
  }
  .burger {
    transition: 400ms linear;
    opacity: 1;
  }
  .line {
    transition: 400ms linear;
  }
  .header {
    background-color: #00b66c;
    padding-top: 50px;
  }
  .val_head {
    margin-top: 50px;
  }
  .doctors_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .doctors_back {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .doctors_text {
    height: 120px;
  }
  .doctors_title {
    margin-bottom: 50px;
  }
  .doctors_cards {
    position: static !important;
    left: 15%;
    top: 18%;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
  }
  .all_nations {
    display: block;
  }
  .doctor_card:nth-child(1),
  .doctor_card:nth-child(2) {
    grid-row: 1;
  }
  .doctor_card:nth-child(3),
  .doctor_card:nth-child(4) {
    grid-row: 2;
  }
  .doctor_card:nth-child(5),
  .doctor_card:nth-child(6) {
    grid-row: 3;
  }
  .doctor_card:nth-child(7) {
    grid-row: 4;
  }
  .doctor_card {
    width: 292px;
    height: 355px;
  }
  .doctor_card img {
    width: 292px;
    height: 355px;
  }
  .doctors_title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .doctors_text {
    margin-top: 0px;
  }
  .img_right {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .val_points {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .val_head {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 45px;
  }
  .val_title1,
  .val_title2 {
    font-size: 45px;
  }
  .superman {
    width: 100%;
    height: 100%;
  }
  .criteries {
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  .val_descr {
    font-size: 35px;
    width: 100%;
  }
  .footer_content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer_right {
    margin-bottom: 50px;
  }
  .legend {
    margin-top: 100px;
  }
  .directions {
    margin-left: 2%;
  }
  .bar-first,
  .bar-second {
    font-size: 35px;
    max-width: 300px;
  }
  .legend_photo {
    position: static;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .legend_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .legend_descr {
    align-items: center;
  }
  .legend_info {
    font-size: 20px;
    width: 550px !important;
  }
  .legend_title1,
  .legend_title2,
  .legend_line {
    text-align: center;
  }
  .legend_story {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header {
    background-position: 70% 0;
  }
  .service_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dir_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .dir_photo {
    display: none;
  }
  .text-descr {
    font-size: 45px;
  }
  .direction {
    width: 320px;
    height: 90px;
  }
  .dir_descr {
    font-size: 24px;
  }
  .doctors_text {
    padding: 20px 0 40px;
    width: 700px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
}

@media (max-width: 750px) {
  .text-descr {
    font-size: 35px;
    max-width: 400px;
  }
  .text-title {
    font-size: 30px;
  }
  .header-title,
  .header-title-2 {
    font-size: 30px;
  }
  .bar-first,
  .bar-second {
    font-size: 27px;
    max-width: 250px;
  }
  .doctors_text {
    width: 400px !important;
  }
  .doctors_cards {
    display: grid !important;
    grid-template-columns: 1fr !important;
    justify-content: center !important;
  }
  .doctor_card:nth-child(1) {
    grid-row: 1;
    grid-column-start: 1 !important;
  }
  .doctor_card:nth-child(2) {
    grid-row: 2;
  }
  .doctor_card:nth-child(3) {
    grid-row: 3;
  }
  .doctor_card:nth-child(4) {
    grid-row: 4;
  }
  .doctor_card:nth-child(6) {
    grid-row: 6;
  }
  .doctor_card:nth-child(5) {
    grid-row: 5;
  }
  .doctor_card:nth-child(7) {
    grid-row: 7;
  }
  .doctor_card {
    width: 450px !important;
    height: 570px !important;
    border-radius: 55px;
    padding: 30px;
    margin-bottom: 30px;
  }
  .doctor_card img {
    width: 100%;
    height: 100%;
  }
  .direction {
    width: 250px;
    height: 70px;
  }
  .dir_descr {
    font-size: 21px;
  }
  .val_descr {
    font-size: 30px;
  }
  .nav-number {
    font-size: 12px !important;
  }
  .header-nav.enable {
    padding: 10%;
  }
  .nav-link {
    font-size: 20px !important;
  }
}

@media (max-width: 600px) {
  .criteries {
    height: 450px !important;
  }
  .legend_info {
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
    width: 100% !important;
  }
  .legend_story {
    margin-top: 30px;
    width: 80%;
  }
  .doctor_card {
    width: 380px !important;
    height: 500px !important;
  }
  .nav-number {
    font-size: 12px;
  }
  .legend_line {
    margin-bottom: 20px;
  }
  .direction {
    width: 200px;
    height: 60px;
  }
  .dir_descr {
    font-size: 17px;
  }
  .bar-first,
  .bar-second {
    font-size: 18px;
    line-height: 25px;
    width: max-content !important;
  }
  .header-bar {
    padding: 10px 30px;
  }
  .text-descr {
    font-size: 28px;
  }
  .text-title {
    font-size: 25px;
  }
  .text-word {
    font-size: 25px;
  }
  .header-title,
  .header-title-2 {
    font-size: 20px;
  }
  .val_descr {
    font-size: 20px;
  }
  .nav-link {
    font-size: 15px;
  }
  .header-nav {
    width: 50% !important;
  }
}
@media (max-width: 500px) {
  .doctor_card {
    width: 280px !important;
    height: 370px !important;
  }

  .header {
    background-position: 73% 0;
  }
  .val_title1,
  .val_title2 {
    font-size: 30px;
  }

  .text-descr {
    font-size: 20px;
    line-height: 21px;
    width: 300px;
  }
  .text-title {
    font-size: 20px;
  }
  .v-line {
    margin: 0 30px;
  }
  .dir_title2 {
    font-size: 35px;
  }
  .doctors_title {
    font-size: 35px !important;
  }
  .doctors_title span {
    font-size: 38px;
  }
  .doctors_text {
    width: 280px !important;
  }
  .direction {
    width: 150px;
    height: 60px;
    font-size: 15px;
  }
  .criteries {
    height: 370px !important;
  }
  .val_descr {
    font-size: 17px;
  }
  .legend_info {
    margin-bottom: 10px;
  }
  .adress {
    width: 300px;
    text-align: center;
  }
  .footer_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer_right iframe {
    max-width: 300px;
    width: 100%;
  }
  .h_nation {
    font-size: 20px;
  }
  .foot_num {
    font-size: 18px;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .foot_link {
    font-size: 20px;
  }

  .bar-first,
  .bar-second {
    font-size: 15px;
  }
}
@media (max-width: 750px) {
  .dir_descr.big {
    font-size: 15px;
  }
  @media (max-width: 650px) {
    .bar-first,
    .bar-second {
      font-size: 19px !important;
      width: 250px;
    }
    .bar-first {
      margin-left: 2% !important;
    }
  }

  @media (max-width: 600px) {
    .bar-first,
    .bar-second {
      font-size: 15px !important;
      width: max-content;
    }
    .v-line {
      margin-right: 0;
    }
    .bar-second {
      margin-left: 30px;
    }
    .bar-first {
      margin-left: 11% !important;
    }
  }
}
@media (max-width: 500px) {
  .dir_descr.big {
    font-size: 13px;
  }
  .dir_descr {
    font-size: 14px;
  }
  .bar-first,
  .bar-second {
    font-size: 13px !important;
  }
  .header-bar {
    display: flex;
    justify-content: center;
  }
  .v-line {
    margin-left: 50px;
  }
  .logo {
    max-height: 48px;
  }
  .directions {
    margin-left: 0 !important;
  }
  .bar-first {
    margin-left: 7% !important;
  }
}
@media (max-width: 450px) {
  .bar-first,
  .bar-second {
    font-size: 9px !important;
  }
}
