* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "electratextpro";
  src: url("../fonts/elektratextpro.otf");
  font-weight: normal;
}
body {
  font-family: "electratextpro";
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  height: 100%;
  background: url("../img/Photo\ family.png") no-repeat center/cover;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  margin-right: 22px;
  font-size: 21px;
  color: #000;
}

.nav-link.last {
  margin-right: 0;
}
.nav-number {
  color: black;
  font-weight: bold;
  border: 3.5px solid rgb(0, 204, 102);
  padding: 5px 10px;
  border-radius: 5px;
}

.header-title {
  margin-top: 70px;
  margin-left: 110px;
  font-size: 37px;
  text-transform: uppercase;
  font-weight: bold;
}
.header-title-2 {
  font-size: 34px;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.header-text {
  margin-top: 150px;
}
.text-title {
  color: rgb(0, 182, 108);
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
}
.text-descr {
  font-size: 50px;
  max-width: 700px;
  font-weight: 600;
  line-height: 51px;
  margin-top: 5px;
}
.text-word {
  margin-top: 10px !important;
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 15px;
  background-color: rgb(0, 182, 108);
  border-radius: 15px;
  max-width: max-content;
  word-spacing: 0.6px !important;
}

.header-bar {
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: -50px;
  box-shadow: 2px 2px 10px gray;
}

.v-line {
  width: 2.5px;
  height: 70px;
  background-color: #000;
  margin: 0 60px;
}

.bar-first {
  font-size: 40px;
  line-height: 41px;
  max-width: 380px;
  text-align: right;
}
.bar-second {
  line-height: 41px;
  text-align: left;
  font-size: 40px;
  max-width: 360px;
}
.service_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 100px;
}

.directions {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Две равные колонки */
  grid-gap: 10px;
  grid: column gap 14px;
  margin-left: 50px;
}
.dir_descr {
  font-size: 20px;
  color: #fff;
}
.direction {
  background: #00b66c;
  width: 240px;
  height: 65px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.dir_photo {
  z-index: 1;
  margin-left: -75px;
}
.dir_layer {
  width: 250px;
}
.dir_img {
  width: 435px;
  height: 600px;
}
.dir_title1 {
  font-size: 25px;
}
.dir_title2 {
  font-size: 55px;
  font-weight: 700;
  color: #00b66c;
}
.val_head {
  display: flex;
  margin-left: 50px;
}
.val_title1 {
  font-size: 60px;
  margin-right: 20px;
}
.superman {
  width: 800px;
  height: 700px;
}
.val_title2 {
  font-size: 60px;
  color: #00b66c;
  font-weight: 700;
}
.values_content {
  display: flex;
  flex-direction: column;
}
.val_points {
  display: flex;

  justify-content: center;
}
.val_point {
  display: flex;
  align-items: center !important;
  margin-top: 50px;
}
.val_descr {
  font-size: 36px;
  width: 350px;
}
.val_number {
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: #fff;
  background-color: #00b66c;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}
.val_num {
  color: #fff;
}
.legend_content {
  display: flex;
  z-index: 2;
  position: relative;
  width: 100%;
  justify-content: end;
}
.legend_descr {
  z-index: 2;
}
.legend_info {
  margin: 21px 21px;
  font-size: 16px;
  z-index: 2;
  width: 600px !important;
}
.legend_photo {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
}
.legend_story {
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.legend_title1 {
  z-index: 2;
  font-size: 50px;
  margin-left: 30px;
}
.legend_title2 {
  z-index: 2;
  font-size: 60px;
  color: #00b66c;
  margin-left: 20px;
}
.legend_line {
  z-index: 2;
  margin-left: 15px;
  width: 295px;
}

.doctors {
  margin-top: 120px;
  padding-bottom: 150px;
}
.doctors_content {
  position: relative !important;
}
.doctors_title {
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
}

.doctors_title span {
  color: #00b66c;
  font-weight: 800;
  font-size: 54px;
}
.doctors_text {
  margin-top: 50px;
  width: 100%;
  background-color: #00b66c;
  padding: 30px 40px 110px 40px;
  margin-bottom: 200px;
  border-radius: 30px;
}
.doctors_text h3 {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  max-width: 230px;
  text-align: center;
  text-transform: uppercase;
}

.doctors_cards {
  width: max-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  justify-content: flex-end !important;
  position: absolute !important;
  left: 65px;
  top: -65px;
}

.doctor_card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  width: 252px;
  height: 315px;
  position: relative !important;
  text-align: right;
  box-shadow: 1px 1px 2px #000;
  border-radius: 30px;
}

.doctor_card:nth-child(4),
.doctor_card:nth-child(5),
.doctor_card:nth-child(6),
.doctor_card:nth-child(7) {
  grid-row: 2;
  margin-top: 20px;
}

.doctor_card:nth-child(1) {
  grid-column-start: 2;
}
.doctor_card img {
  width: 252px;
  height: 315px;
  position: absolute !important;
  left: 0;
  right: 0;
  z-index: 1;
}

.doctor_title {
  z-index: 100;
}
.doctor_descr {
  z-index: 100;
}
.white-shadow {
  position: absolute;
  bottom: 1px;
  right: 1px;
}
.economy_content{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.economy_left{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.h1, .h2, .h3, .h4, .h5, .h6, .h7, .h8{
  color: #32d95b;
  margin: 1px 1px;
  font-weight: bolder;
}
.img_right{
  width: 800px;
  height: 700px;
}
.h1{
  font-size: 35px;
}
.h2{
  font-size: 40px;
}
.h3{
  font-size: 46px;
}
.h4{
  font-size: 35px;
}
.h5{
  font-size: 40px;
}
.h6{
  font-size: 80px;
}
.h7{
  font-size: 60px;
}
.h8{
  font-size: 67px;
}
.imgs{
  width: 1230px;
}
.images_content{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.footer_content{
  display: flex;
  align-items: center;
justify-content: space-evenly;
}
.footer_lefttop{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid #000;
}
.h_nation{
  margin-left: 50px;
  font-weight: 100;
}
.contacts{
  display: flex;
  flex-direction: column;
}
.footer_number{
  display: flex;
  align-items: center;

}
.vib{
  width: 40px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;

}
.foot_num{
  font-size: 30px;

}
.social{
  display: flex;
  align-items: center;
}
.inst, .youtube, .tg, .fb{
  font-size: 25px;
  margin-left: 10px;
}
.foot_ad{
  font-weight: bolder;
  font-size: 35px;
}
.adress{
  font-size: 20px;
}
.footer{
  margin-top: 100px;
}
.final_line{
  background: #32d95b;
  height: 80px;
  margin-top: 50px;
}
.footer_leftbott{
  margin-top: 50px;
}